{% extends 'ito2020/templates/base.njk' %}

<!-- stylesheet -->
{% block style_option %}
<link rel="stylesheet" type="text/css" href="static/presentation.css">
{% endblock %}


{% block header %}
<section id="Header">
	<div id="SlideTop" class="slide">
		<div class="slide-img-wrapper">
			<img src="static/image/hachinoheline_2.jpg" alt="" class="slide-img">
		</div>
		<div class="slide-img-wrapper">
			<img src="static/image/hachinoheline_3.jpg" alt="" class="slide-img">
		</div>
		<div class="slide-img-wrapper">
			<img src="static/image/hachinohekoukou_2.jpg" alt="" class="slide-img">
		</div>
	</div>
	<h1 class="heading">
		<p>Aomori</p>
		<p>Hachinohe</p>
		<p>Wanderer</p>
	</h1>
	<p class="student-id">2017-2026</p>
	<ruby class="myname">
		<rb>野口 裕一郎</rb>
		<rt>のぐちゆういちろう</rt>
	</ruby>
</section>


<div class="dummy-section">

</div>
<div class="dummy-section">

</div>
{% endblock %}


{% block main %}
<section id="Intro" class="section">
	<h2 class="title">Hachinohe Line？</h2>
	<div class="contents container">
		<div class="row">
			<div class="col-lg-6 mb-5">
				<img src="static/image/hachinoheline_1.png" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 mb-5 d-flex flex-column justify-content-center">
				<p>北国、青森、岩手。</p>
				<p>両県にまたがる海岸線に沿うようにして、JR八戸線が伸びている。</p>
				<p>常に海を望むように走る列車の車窓から見える景色は、季節に応じてコロコロと変わる表情を魅せてくれる。</p>
			</div>
			<div class="col-lg-6 mb-5 d-flex flex-column justify-content-center">
				<p>春。</p>
				<p>海岸には、新しい季節の始まりに胸を躍らせる生き物が集まってくる。</p>
				<p>海を望む、丘一面に芝生が広がるウミネコの庭に、八戸高校の新人たちが遊びにやってくるのもこの季節。</p>
				<p>海鮮を惜しみなくつかったラーメンと丼でお腹も満足。</p>
			</div>
			<div class="col-lg-6 mb-5">
				<img src="static/image/hachinoheline_5.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 mb-5">
				<img src="static/image/hachinoheline_2.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 mb-5 d-flex flex-column justify-content-center">
				<p>夏。</p>
				<p>押しも押されぬ主役は、海と空。</p>
				<p>うだる暑さなんか知らない、そんなけろっとした顔でどこまでも突き抜けていく空と、気だるげにたゆたう波の肌。</p>
				<p>高校へ向かう電車の車窓からは、うだる熱気とともに、砂浜へ誘う潮の匂いがどうしようもなく流れ込んでくる。</p>
			</div>
			<div class="dummy-section inter">

			</div>
			<div class="col-lg-6 mb-5 d-flex flex-column justify-content-center">
				<p>秋。</p>
				<p>常緑の松の緑に混じって、枯れ草の黄色が混じってくる。</p>
				<p>金木犀の香りはしないのだけれど、海風の匂いが変わる。それで秋だとわかる。</p>
				<p>人気のなくなった砂浜が少し寂しい。</p>
				<p>ああ、もうすぐ電車が到着してしまう。</p>
			</div>
			<div class="col-lg-6 mb-5">
				<img src="static/image/hachinoheline_3.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 mb-5">
				<img src="static/image/hachinoheline_6.jpg" alt="" class="img-fluid">
			</div>
			<div class="col-lg-6 mb-5 d-flex flex-column justify-content-around">
				<p>来たる冬、電車を降りて踏む八戸の大地は　&quot;しばれる&quot;　。</p>
				<p>薄く積もった雪の下に、ピンと張った氷がある。</p>
				<p>凍てつく空気に頰を赤らめながら、果敢にも、そのうえを急ぎ足で歩く者たちがいる。</p>
				<p>そのうしろ姿は、今年も師走の季節がやってきたことを寒さと共に身に染み込ませてくれる。</p>
				<p>世間は、そんな彼らに敬意を評して、こう呼ぶのだ。</p>
				<p>HACHINOHE Wandererと。</p>
			</div>
		</div>
	</div>
</section>
<section id="">

</section>
{% endblock %}


{% block footer %}
<section id="Footer pb-5">
	<div class="dummy-section">

	</div>
	<div class="half-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 d-flex flex-column justify-content-center py-5">
					<h2 class="h4 my-5">HACHINOHE Wandererが教える、 <br> しばれる八戸の歩き方</h2>
					<ol>
						<li class="h5">地面に足をつけるときはかかとから。</li>
						<li class="h5">足で地面を蹴ろうとしてはならない。</li>
						<li class="h5">地面に対して足は置くイメージで、おいた足で体を支えてそのまま前方へ上体をスライドする。</li>
						<li class="h5">足が離れるとき、間違っても、母指球で地面を蹴ろうとしてはならない。</li>
					</ol>
				</div>
				<div class="col-lg-6 d-flex flex-column
					justify-content-center align-items-around endroll">
					<div class="">
						<p>CopyRight &copy;Yuichiro Noguchi</p>
						<span class="">
							image/hachinoheline_1.png <br>
							&rarr; ScreenShot of GoogleMap
						</span>
						<br>
						<span class="">
							image/hachinoheline_2.jpg <br>
							image/hachinoheline_3.jpg <br>
							image/hachinoheline_5.jpg <br>
							&rarr; Photograph by Eri Noguchi
						</span>
						<br>
						<span class="">
							image/hachinoheline_6.jpg <br>
							&rarr; Photo from photoAC
						</span>
					</div>

				</div>
			</div>
		</div>

	</div>
</section>
{% endblock %}


{% block script_option %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.4/ofi.js"></script>
<script src="static/presentation.js" charset="utf-8"></script>
{% endblock %}