{% extends 'phys-exp-1/templates/base.njk' %}

{% block style_option %}
<link rel="stylesheet" type="text/css" media="all" href="static/common.css">
<link rel="stylesheet" type="text/css" media="screen" href="static/screen.css">
<link rel="stylesheet" type="text/css" media="print" href="static/print.css">
{% endblock %}

{% block script_option %}
<script src="static/script_typo.js" charset="utf-8"></script>
{% endblock %}

{% block progress %}
{% endblock %}

{% block header %}
<header class="paper-header">
	<div class="container">
		<section id="Heading">
			<h1 class="text-center" id="Title">X線回折実験レポート</h1>
			<article class="auth-info">
				<p class="text-center author">野口裕一郎</p>
				<p class="text-center date">2020年10月15日</p>
			</article>
			<article class="abstract section">
				<h2 class="py-5 text-center">概要</h2>
				<p class="text-justify">今年度最初の実験。双対空間についての直感的理解を固められたのが理論的には一番大きい収穫だった。また、結晶による回折現象を直感的に説明するブラック回折条件が、きちんとした強度計算に基づいたラウエ回折条件と等価であるということにとても感銘を受けた。 <br>　結晶の構造を考えて強度を用いて回折を考えて得られるラウエ関数に基づく回折条件と、あれだけ単純化されたモデルであるところのブラックの回折条件が等価であることは、ブラック回折条件が結晶回折の本質をその単純なモデルの中に過不足なく抜き出していることを意味する。統計物理１の授業で竹内先生がおっしゃっていたことだが、雑多で大量の情報の中から本質たるべき情報を抽出して理解するのが洗練された物理的理解であるというのは極めてもっともらしい。ブラック回折条件はまさにそれの一例ではないかと思う。</p>
			</article>
		</section>
	</div>
</header>
{% endblock %}

{% block main %}
<main class="paper-body">
	<div class="container">
		<section class="indroduction section" id="Introduction">
			<h2 class="section-title">イントロダクション</h2>
			<div class="section-body">
				<section class="sub-section">
					<h4 class="sub-section-title">結晶格子面と逆格子空間</h4>
					<div class="sub-section-body">
						そもそも逆格子空間とは、ベクトル空間に対する双対空間の特別な場合である。したがって双対空間に対する数学的な理解と直感的な理解を併せ持てば逆格子空間のことを理解することは容易い。 <br>
						　まず双対空間とは何かということを理解することから始めなければならない。 数学的には、ベクトル空間の元に作用する線型形式全体の集合に和とスカラー倍を定義して線形空間の構造を導入したものをそのベクトル空間の双対ベクトル空間という。その時
						\begin{equation}
							\langle\boldsymbol{e}^{i},\boldsymbol{e}_{j}\rangle = \delta ^{i}_{j}
						\end{equation}
						なる関係で導入された$$\boldsymbol{e}^{i}$$のことをベクトル空間の基底\(\boldsymbol{e}_{i}\)に対応する双対空間の基底（双対基底）という。双対空間は、この双対基底で張られるの線型空間であり、その元は線型形式である。したがってベクトル空間（基底がgivenである時ベクトル空間が１つに定まっているものとする）に対する双対空間は線型形式の定義の仕方によって複数あるのだ。そして元来、もとのベクトル空間とその双対空間は全く別の空間である。 <br>
						　それでもなお、線型形式の定義にユークリッド内積を用いてベクトル空間の元を線型形式に一対一対応させると、ユークリッド内積によって定義された双対空間をもとのベクトル空間に移植して直感的に理解することができる。これが逆格子空間の素となる双対空間の正体である。 <br>
						　双対空間をもとのベクトル空間に埋め込んだときにどのような解釈になるのかということについて議論する。
					</div>
				</section>
				<section class="sub-section">
					<h4 class="sub-section-title">結晶回折のブラック条件とラウエ条件</h4>
					<div class="sub-section-body">

					</div>
				</section>
				<section class="sub-section">
					<h4 class="sub-section-title">X線回折法</h4>
					<div class="sub-section-body">

					</div>
				</section>
			</div>
		</section>
		<section class="method section" id="Method">
			<h2 class="section-title">X線回折実験</h2>
			<div class="section-body">
				<section class="sub-section">
					<h4 class="sub-section-title">ラウエ写真法</h4>
					<div class="sub-section-body">

					</div>
				</section>
			</div>
		</section>
		<section class="result section" id="Result">
			<h2 class="section-title">実験結果</h2>
		</section>
		<section class="discussion section" id="Discusstion">
			<h2 class="section-title">考察</h2>
		</section>
		<section class="conclusion section" id="Conclusion">
			<h2 class="section-title">まとめ・結論</h2>
		</section>
	</div>
</main>
{% endblock %}

{% block footer %}
<footer class="paper-footer">
	<div class="container">
		<section class="bibliography section" id="Bibliography">
			<h2 class="section-title">参考文献</h2>
		</section>
		<section class="appendix section" id="Appendix">
			<h2 class="section-title">付録</h2>
		</section>
	</div>
</footer>
{% endblock %}
