{% extends 'phys-exp-1/templates/base.njk' %}

{% block style_option %}
<link rel="stylesheet" type="text/css" media="all" href="static/common.css">
<link rel="stylesheet" type="text/css" media="screen" href="static/screen.css">
<link rel="stylesheet" type="text/css" media="print" href="static/print.css">
{% endblock %}

{% block script_option %}
{% endblock %}

{% block progress %}
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<main>
	<div class="container">
		<h1>MathJaxデビュー戦</h1>
		<div class="">
			<p>\[
			\frac{b}{a}
		\]</p>
		</div>
	</div>
</main>
{% endblock %}

{% block footer %}
{% endblock %}
