<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<!-- google fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Cormorant+Garamond:ital,wght@0,400;1,700&display=swap" rel="stylesheet">
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- stylesheet -->
	{% block style_option %}
	{% endblock %}
</head>

<body>
	{% block progress %}
	{% endblock %}

	{% block header %}
	{% endblock %}

	{% block main %}
	{% endblock %}

	{% block footer %}
	{% endblock %}

	{% block script_option %}
	{% endblock %}

</body>

</html>